.cart-component .cart-items {
    border: 2px solid #ececec;
    padding: 20px;
}

.cart-component .cart-items .cart-item {
    position: relative;
    margin-bottom: 20px;
}

.cart-component .cart-items .cart-item .image {
    display: inline-block;
    width: 80px;
    margin-right: 20px;
    vertical-align: top;
}

.cart-component .cart-items .cart-item .details {
    display: inline-block;
    width: calc(100% - 100px);
    vertical-align: top;
}

.cart-component .cart-items .cart-item .details .sale-price {
    color: #b73604;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.cart-component .cart-items .cart-item .details .old-price {
    text-decoration: line-through;
    font-size: 13px;
}

.cart-component .cart-items .cart-item .details .price {
    font-size: 14px;
}


.cart-component .cart-items .cart-item .remove-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #b73604;
    font-size: 26px;
    cursor: pointer;
}

.cart-component .cart-items .cart-item .name {
    display: block;
    width: calc(100% - 20px);
    font-size: 16px;
}

.cart-component .cart-items .cart-item .quantity {
    display: block;
    font-size: 12px;
    margin-top: -5px;
    font-weight: 400;
}

.cart-component .total-price {
    padding: 20px;
    border-left: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
    border-right: 2px solid #ececec;
}

.cart-component .total-price .delivery-price {
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
}

.cart-component .total-price .price {
    display: block;
    font-weight: 500;
    font-size: 22px;
    text-align: right;
}