.profile-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.profile-component h2 {
    text-align: left;
    margin-bottom: 30px;
}

.profile-component .admin-menu {
    border: 2px solid #ececec;
    padding: 20px;
}

.profile-component .admin-menu .profile-action-button {
    width: 100%;
}
