.list-categories-component .categories-list .category {
   margin-bottom: 2px;
   padding: 8px 20px;
   background: #f3f3f3;
}

.list-categories-component .categories-list .category .actions {
    float: right;
    right: 20px;
}

.list-categories-component .categories-list .category .actions .name {
    margin-right: 20px;
}

.list-categories-component .categories-list .category .actions .edit {
    margin-right: 20px;
    color: #131313;
}

.list-categories-component .categories-list .category .actions .delete {
    color: #131313;
    cursor: pointer;
}