.header-component .cart-btn  .cartQantity {
    position: relative;
    top: -42px;
    left: 9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b73604;
    color: #fff !important;
}

.header-component .cart-btn  .cartQantity .label {
    position: absolute;
    color: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    text-align: center;
}

.header-component .menu-right-content .profile a {
    color: #131313;
}

.header-component .main-header .menu-right-content {
    margin-top: 20px;
}

@media screen and (max-width: 850px) 
{
  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }
    
  .menu-area .mobile-nav-toggler {
    display: block;
    margin-top: 0px;
    padding: 10px;
    background: #fff;
  }

  .main-header .nav-right-content .nav-box{
    display: none;
  }
}


@media screen and (max-width: 767px) {
    
    .header-component .main-header .nav-right-content {
      display: block;
    }

    .header-component .main-header .menu-right-content li.cart-btn {
        display: inline-block;
    }
    
  }

  @media screen and (max-width: 500px) {

    .header-component .main-header .menu-right-content li {
        margin: 0px 10px;
    }
  }