.contacts-component .page-title {
    padding: 60px 0px 60px 0px;;
    margin-bottom: 60px;
}

.contacts-component h4 {
    margin-bottom: 40px;
}

.contacts-component .row {
    margin-bottom: 20px;
}

.contacts-component label {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
    color: #131313;
}

.contacts-component  .error-message {
    color: #f30000;
    font-size: 11px;
    font-weight: 600;
}

.contacts-component .map span {
    display: block;
    margin-bottom: 10px;
}